<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <style></style>
       <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css"> -->
    <script src="https://kit.fontawesome.com/a323b54415.js" crossorigin="anonymous"></script> 
    <link rel="stylesheet" href="../css/_bootswatch.scss">
    <title>title</title>
    <style>

    </style>
</head>

<body>

    <nav class="navbar navbar-expand-sm bg-faded navbar-light shadow-sm">
        <a class="navbar-brand" href="#">LMS</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/homepage">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/createcourse">Create Course</a>
                </li>
            </ul>
            <div>
                <form class="form-inline my-2 my-lg-0">
                    <% if(user){%>
                    <a name="login" class="btn btn-outline-success mx-2" href="/logout" role="button">LogOut</a>
                    <%} if(user){%>
                    <a name="login" class="btn btn-outline-success mx-2" href="/profile/<%=user._id%>" role="button">Profile</a>
                    <%}else{%>
                    <a name="login" class="btn btn-outline-success mx-2" href="/" role="button"> <img src="../images/sin-log-2.jpg" width="150px" height="40px"></a>
                    <% } %>
                </form>
            </div>
        </div>
    </nav>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
<br><br>