<%- include ('./header')%>


<!-- Profarma to Create new course -->
<div class="container ">
    <div class="row">
        <div class="col-lg">
            <h3>Welcome to LMS</h3>
            <div class="jumbotron">
                <h1 class="display-3">Who is Simplilearn</h1>
                <hr class="my-4">
                <p class="lead">
                    We are one of the world’s leading certification training providers.
                    
                    We provide online training in disciplines such as Cyber Security, Cloud Computing, Project Management, Digital Marketing, and Data Science among others, where technologies and best practices are changing rapidly and demand for qualified candidates significantly exceeds supply.
                    
                    Based in San Francisco, California and Bangalore, India, we have helped over one million professionals and companies across 150+ countries get trained, acquire certifications, and upskill their employees.
                    
                    Our training courses are designed and updated by 2000+ renowned industry experts. Our blended learning approach combines online classes, instructor-led live virtual classrooms, project work, and 24/7 teaching assistance. Our vibrant community of experts and certified professionals is a powerful resource pool of tips, tricks, and insightful advice. More than 40 global training organizations have recognized us as an official provider of certification training. We have been named the 8th most influential education brand in the world by LinkedIn..
                </p>
            </div>
        </div>
    </div>
</div>


<%- include ('./footer')%>